/* Styles */

body {
    margin: 0;
  }
  .header {
    background-color: #032602;
    padding: 15px;
  }

  .logo {
    width: 4%;
    padding: 1%;
    text-align: center;
}

  .ul {
    float: right;
    color: black;
  }

  .li_inline-block {
    display: inline-block;
    padding: 0px 5px;
}
  
  header p {
    display: inline-block;
  }
  .heroImg {
    background-color: #EBEBEB;
    padding: 100px 15px;
  }
  .me {
    height: 400px;
    padding: auto;
}
  .content {
    max-width: 300px;
    margin: 0 auto;
    padding: 50px;
    background-color: #FFFFFF;
    text-align: center;
  }
  button {
    padding: 15px;
    background-color: #032602;
    color: white;
    font-size: 15px;
    border-radius: 4px;
  }
  footer {
    background-color: #032602;
    padding: 5px;
    color: white;
  }
  .footer-ul {
    list-style: none;
    padding-left: 5px;
  }
  .footer-ul li{
    display: inline-block;
    padding: 0px 7px;
}
  






















/* .inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 50%;
    padding: 1%;
    text-align: center;
}

.nav {
    width: 73%;
    padding: 1%;
}

.ul li {
    display: inline;
    width: 50%;
    margin-left: auto;
    padding: 50px;
}

.me {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}


.heroImg {
    height: 600px;
    padding: 25px;
}

div .content{
    width: 500px;
    margin: 0 auto;
}


footer {
    background-color: #373738;
    color: white;
    padding: 25px, 50px;
}

.footer-ul li{
    display:inline-block;
    vertical-align: top;
    padding: 50px;
}
*/