/* Styles */


.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 50%;
    padding: 1%;
    text-align: center;
}

.nav {
    width: 73%;
    padding: 1%;
}

.ul li {
    display: inline;
    width: 50%;
    margin-left: auto;
    padding: 50px;
}

.me {
    height: 600px;
    padding: 25px;
}

.content {
    width: 500px;
    margin: 0 auto;
}


.heroImg {
    height: 600px;
    padding: 25px;
}

div .content{
    width: 500px;
    margin: 0 auto;
}


footer {
    background-color: #373738;
    color: white;
    padding: 25px, 50px;
}

.footer-ul li{
    display:inline-block;
    vertical-align: top;
    padding: 50px;

}
